node_modules/
dist/
coverage/
.nyc_output/
*.min.js
package-lock.json
integration-test/sources/autolinks.invalid.json
integration-test/sources/ruleset.invalid.json
integration-test/sources/package.invalid.json
